/**
 * identinet theme for reveal.js.
 * Author: Jan Christoph Ebersbach
 */

@import "./identinet.scss";

#slide-header {
  // border-bottom: 1px $lightPrimary1 solid;
  background-image: url("./images/identiops-long-background-transparent.svg");
  background-position: center right 4rem;
  background-size: auto 40%;
  // background-color: $lightPrimary1;
}
